{% extends 'base.html' %}
{% load static %}

{% block title %}Career - Ana Sayfa{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/account.css' %}">
{% endblock %}

{% block large-title %}
    <h2>PASSWORD</h2>
{% endblock %}

{% block slogan %}
    <h2>Change Password</h2>
{% endblock %}
{% block content %}
    <main>
        <form action="{% url 'confirmation' %}" method="POST">
            {% csrf_token %}

            <label for="uname">Username:</label>
            <input type="text" name="uname" id="uname" placeholder="Username" required>

            <label for="uname">Password:</label>
            <input type="password" name="pw" id="pw" placeholder="New password" required>

            <label for="uname">Key:</label>
            <input type="number" name="_key" id="_key" placeholder="Please type the code" required>

            <input type="submit" value="Change Password">
        </form>
    </main>
{% endblock %}